<!DOCTYPE html>
<html {% block headAttrs %}{% endblock %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <title ng-bind="(route.vars.title && (siteTitle + ': ' + route.vars.title)) || siteTitle"></title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'
      media="none" onload="if(media!='all')media='all'">
    {% if minify %}
      <link href="/css/bedrock-views.min.css" rel="stylesheet" type="text/css"
        media="none" onload="if(media!='all')media='all'">
    {% else %}
      {% block css %}
      <link href="/css/bedrock-views.css" rel="stylesheet" type="text/css"
        media="none" onload="if(media!='all')media='all'">
      {% endblock %}
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico"
      media="none" onload="if(media!='all')media='all'">

    {% block beforeMain %}{% endblock %}

    {% if pageLayout != "error" %}
      {% include "data.html" %}
      {% if minify %}
        <script defer src="/system/app/main.min.js"></script>
      {% else %}
        <script defer src="/system/system.js"></script>
        <script defer src="/system/app/main.js"></script>
      {% endif %}
    {% endif %}
  </head>

  {% if hasSupportedUserAgent() %}
  <body class="{{(app.ngClass.body && '') || 'br-body'}}"
    ng-class="app.ngClass.body"
    ng-style="app.ngStyle.body" ng-cloak>
    {% if pageLayout != "error" %}
    {% block forcedFonts %}{% endblock %}
    {% endif %}

    {% block content %}
    {% set pageTitle = "App" %}
    <!-- Main application component -->
    <br-app></br-app>
    {% endblock %}
  </body>
  {% else %}
  <body>
    {% block unsupportedUserAgent %}
    <div>
      Your browser
      ({{userAgent().family}} {{userAgent().major}}.{{userAgent().minor}}.{{userAgent().patch}})
      is <strong>out of date</strong> and unable to display this site.
      Please <a href="http://www.updateyourbrowser.net/">update your browser.</a>
    </div>
    {% endblock %}
  </body>
  {% endif %}
</html>
