<!DOCTYPE html>
<html {% block headAttrs %}{% endblock %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'
      media="none" onload="if(media!='all')media='all'">
    {% if minify %}
      {% block css %}
      <link href="/static/css/main.min.css" rel="stylesheet" type="text/css"
        media="none" onload="if(media!='all')media='all'">
      {% endblock %}
    {% else %}
      {% block css %}
      <link href="/static/css/main.css" rel="stylesheet" type="text/css"
        media="none" onload="if(media!='all')media='all'">
      {% endblock %}
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico"
      media="none" onload="if(media!='all')media='all'">

    {% block beforeMain %}{% endblock %}

    {% if pageLayout != "error" %}
      {% include "data.html" %}
      {% if minify %}
        <script defer src="/static/js/bundle.min.js"></script>
      {% else %}
        <script defer src="/static/js/bundle.js"></script>
      {% endif %}
    {% endif %}
  </head>

  {% if hasSupportedUserAgent() %}
  <body class="br-body">
    {% if pageLayout != "error" %}
    {% block forcedFonts %}{% endblock %}
    {% endif %}

    {% block content %}
    {% set pageTitle = "App" %}
    <!-- Main application component -->
    <br-app>
      <div class="br-app-load-spinner-container">
        <div class="br-app-load-spinner">
          <div class="br-activity-bar">
            <div class="br-activity-line"></div>
          </div>
        </div>
      </div>
    </br-app>
    {% endblock %}
  </body>
  {% else %}
  <body>
    {% block unsupportedUserAgent %}
    <div>
      Your browser
      ({{userAgent().family}} {{userAgent().major}}.{{userAgent().minor}}.{{userAgent().patch}})
      is <strong>out of date</strong> and unable to display this site.
      Please <a href="http://www.updateyourbrowser.net/">update your browser.</a>
    </div>
    {% endblock %}
  </body>
  {% endif %}
</html>
